## Base URL of the Python Package Index.
## This should point to a repository compliant with PEP 503 (the simple
## repository API) or a local directory laid out in the same format.
-i https://pypi.python.org/simple
# -i https://pypi.tuna.tsinghua.edu.cn/simple/


## If a URL or path to a html file, then parse for links to archive
## such as sdist (.tar.gz) or wheel (.whl) files. If a local path or
## file:// URL that's a directory, then look for archives in the directory
## listing. Links to VCS project URLs are not supported.
-f https://download.pytorch.org/whl/torch_stable.html
# -f https://s3.amazonaws.com/pytorch/whl/torch_stable.html
# -f https://mirror.sjtu.edu.cn/pytorch-wheels/torch_stable.html


## All dependencies for installation
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.32.0
grad-cam==1.3.7
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pkg_resources==0.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scipy==1.8.0
six==1.16.0
tqdm==4.64.0
ttach==0.0.3
typing_extensions==4.1.1
urllib3==1.26.9


## Cuda version >= 11.3 [Recommend]
torch==1.11.0+cu113
torchvision==0.12.0+cu113


## Cuda version < 11.3
# torch==1.11.0+cu102
# torchvision==0.12.0+cu102